#start-button {
    
   margin-top:20%; 
   border-radius:10px;
}

#initial-screen-info {
    font-size:1.4rem;
}

body {
    background-image: url(imgs/question-mark-background.png);
}

#start-screen {
    align-items: center;
    text-align:center;
    margin-top:10%;
}



#highscores {
    text-decoration: none;
    color: black;
}

.upper-nav {
    margin-left:-30px;
    margin-right:10px;
}

#top-display {
    display:flex;
    justify-content: space-between;
    list-style-type:none;
    margin-top:5vh;
}

#questionTitle {
    font-weight:bold;
}

.answer-list  {
    list-style-type: none;
    margin:10px;
}

.hide {
    display:none;
}

#user-high-score {
    background-color:rgb(109, 199, 199);
    border: solid grey 2px;
    padding: 5px;
}


#question {
    font-size:2rem;
}

#submit {
    border-radius: 10px;
}

.final-menu-buttons {
    border-radius: 10px;
}